body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color: #ffa80a;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p.date { 
    color: #404040;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

.border {
    color:  #bbb;
}